[branch]
	autosetuprebase = always
[color]
	status = auto
	branch = auto
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pr = pull-request
	l1 = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)'
	graph = log --all --abbrev-commit --date=short --full-history --graph --format=format:'%C(bold blue)%h%C(reset)\t%C(bold white)%an, %ar (committed %cr)%C(reset)%C(bold green)%d%C(reset)%n       \t%C(white)%s%C(reset)%n'
	su = submodule update --init --recursive
	nd = diff --no-ext-diff
	ndc = diff --no-ext-diff --cached
[merge]
	summary = true
        tool = ediff
	log = 50
	conflictstyle = diff3
[rerere]
	enabled = true
[user]
	name = Your Name
	email = you@yourdomain.com
[core]
	editor = /usr/bin/your/favorite/editor
[push]
	default = simple
[diff]
	external = ~/bin/git-diff-cmd.sh
